* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(MontyPython.jpg) center no-repeat fixed;
}

.container {
    border: 1px solid black;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: unset;
    padding: 10px;
    background: wheat;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}